body {
    background-image: url(https://live.staticflickr.com/5493/11171595025_516edde685_b.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

h3 {
    position: relative;
    top: 150px;
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 120px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* body {
        background-color: blue;
    } */

    body {
        background-image: url(https://live.staticflickr.com/5493/11171595025_516edde685_b.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }

    h3 {
        position: relative;
        top: 150px;
        color: #fff;
        font-size: 35px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    p {
        color: #fff;
        font-size: 15px;
        text-align: center;
        position: relative;
        top: 140px;
    }
}